body {
  background-color: #66FFCB;
}
hr {
  /* background-color: none; */
  border-color: #9A2DB3;
  border-style: dotted none none;
  border-top-width: 6px;
  height:0;
  width: 60px;
}
h1, h3, a {
  color: #D933FF;
}
